{% extends 'base.html' %}
{% load static %}

{% block title %} Редактирование рецепта {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}"> {% endblock %}
{% block content %}
<div class="main__header">
    <h1 class="main__title">Редактирование рецепта</h1>
</div>
<div class="form-container">
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form__group">
            <label for="id_name" class="form__label">Название рецепта</label>
            <div class="form__field-group">
                <input type="text" id="id_name" name="name"
                       class="form__input" value="{{ recipe.name }}">
                <span class="form__error"></span>
            </div>
        </div>
        <div class="form__group">
            <p class="form__label">Теги</p>
            <div class="form__field-group">
                {% include 'form_tags.html' %}
                <span class="form__error"></span>
            </div>
        </div>
        <div class="form__group">
            <label for="nameIngredient" class="form__label">Ингредиенты</label>
            <div class="form__field-group">
                <div class="form__field-group-ingredientes">
                    <div class="form__dropdown">
                        <input type="text" id="nameIngredient"
                               class="form__input">
                        <div class="form__dropdown-items"></div>
                    </div>
                    <input type="number" id="cantidad" class="form__input"
                           min="0">
                    <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                </div>
                {% for object in recipe.ingredient_amounts.all %}
                <div class="form__field-item-ingredient" id="ing{{ forloop.counter }}">
                    <span> {{ object.ingredient.name }} {% if object.amount %}{{ object.amount }}{% endif %}{{ object.ingredient.unit }}</span>
                    <span class="form__field-item-delete"></span>
                    <input id="nameIngredient_{{ forloop.counter }}" name="nameIngredient_{{ forloop.counter }}" type="hidden" value="{{ object.ingredient.name }}" onclick="ingredients.eventDelete()">
                    <input id="valueIngredient_{{ forloop.counter }}" name="valueIngredient_{{ forloop.counter }}" type="hidden" value="{% if object.amount %}{{ object.amount }}{% endif %}">
                    <input id="unitsIngredient_{{ forloop.counter }}" name="unitsIngredient_{{ forloop.counter }}" type="hidden" value="{{ object.ingredient.unit }}">
                </div>
                {% endfor %}
                <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                <span class="form__error"></span>
            </div>
        </div>
        <div class="form__group">
            <label for="id_time" class="form__label">Время
                приготовления</label>
            <div class="form__field-group form__field-group_time">
                <input type="text" id="id_time" name="cooking_time"
                       class="form__input" value="{{ recipe.cooking_time }}">
                <label for="id_time" class="form__label">минут</label>
                <span class="form__error"></span>
            </div>
        </div>
        <div class="form__group">
            <label for="id_description" class="form__label">Описание</label>
            <div class="form__field-group">
                <textarea name="description" id="id_description" rows="8"
                          class="form__textarea">{{ recipe.description }}</textarea>
                <span class="form__error"></span>
            </div>
        </div>
        <div class="form__group">
            <span class="form__label">Загрузить фото</span>
            <div class="form__field-group">
                <label for="id_file" class="form__file-button">Выбрать
                    файл</label>
                <input type="file" class="form__file" name="photo" id="id_file">
                <span id="photoFilename" class="form__label" style="max-width: unset">{{ recipe.photo }}</span>
                <span class="form__error"></span>
            </div>
        </div>
        <div class="form__footer">
            <button class="button button_style_blue">Изменить рецепт</button>
            <a style="margin-left: 2.5em" href="{% url 'recipe-delete' slug=recipe.slug %}" class="form__ingredient-link">Удалить</a>
        </div>
    </form>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/utils/debouncing.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/formChangeRecipe.js' %}"></script>
{% endblock %}