{% extends 'base.html' %}

{% load static %}
{% load get_tags_param %}

{% block title %} Рецепты {% endblock %}
{% block styles %} <link rel="stylesheet" href="{% static 'pages/index.css' %}"> {% endblock %}
{% block content %}
{% csrf_token %}
<div class="main__header">
    <h1 class="main__title">Рецепты</h1>
    <ul class="tags">
        <li class="tags__item">
            <a id="breakfast"
               class="tags__checkbox tags__checkbox_style_orange {% if 'breakfast' in tags %} tags__checkbox_active {% endif %}"
               href="?tags={{ request|get_tags_param:'breakfast' }}"></a>
            <span class="tags__label">Завтрак</span>
        </li>
        <li class="tags__item">
            <a id="lunch"
               class="tags__checkbox tags__checkbox_style_green {% if 'lunch' in tags %} tags__checkbox_active {% endif %}"
               href="?tags={{ request|get_tags_param:'lunch' }}"></a>
            <span for="lunch" class="tags__label">Обед</span>
        </li>
        <li class="tags__item">
            <a id="dinner"
               class="tags__checkbox tags__checkbox_style_purple {% if 'dinner' in tags %} tags__checkbox_active {% endif %}"
               href="?tags={{ request|get_tags_param:'dinner' }}"></a>
            <label for="dinner" class="tags__label">Ужин</label>
        </li>
    </ul>
</div>
<div class="card-list">
    {% for recipe in recipes %}
    <div class="card" data-id="{{ recipe.id }}">
        <a href="{% url 'recipe-detail' pk=recipe.id %}" class="link" target="_blank"><img
                src="{{ recipe.photo.url }}" alt="Какой-то текст"
                class="card__image"></a>
        <div class="card__body">
            <a class="card__title link" href="#" target="_blank">{{ recipe.name }}</a>
            <ul class="card__items">
                {% for tag in recipe.tags.all %}
                <li class="card__item"><span
                        class="badge badge_style_{{ tag.display_color }}">{{ tag.display_name }}</span>
                </li>
                {% endfor %}
            </ul>
            <div class="card__items card__items_column">
                <p class="card__text"><span class="icon-time"></span>
                    {{ recipe.cooking_time }} мин.</p>
                <p class="card__text"><span class="icon-user"></span> <a
                        href="#" style="color: black">
                    {{ recipe.author.username }}
                </a></p>
            </div>
        </div>
        <div class="card__footer">
            <button class="button button_style_light-blue"
                    name="purchpurchases" data-out><span
                    class="icon-plus button__icon"></span>Добавить в покупки
            </button>
            {% if user.is_authenticated %}
            <button class="button button_style_none" name="favorites" {% if recipe.id not in favorites %} data-out {% endif %}>
                <span class="icon-favorite {% if recipe.id in favorites %} icon-favorite_active {% endif %}"></span>
            </button>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% if is_paginated %}
<nav class="pagination" aria-label="Search results pages">
    <ul class="pagination__container">

        {% if page_obj.has_previous %}
        <li class="pagination__item"><a class="pagination__link link" href="?page={{ page_obj.previous_page_number }}{% if tags %}&tags={{ tags }}{% endif %}">
            <span class="icon-left"></span></a></li>
        {% endif %}

        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="pagination__item pagination__item_active"><a
                class="pagination__link link" href="?page={{ i }}{% if tags %}&tags={{ tags }}{% endif %}">{{ i }}</a></li>
            {% else %}
                <li class="pagination__item"><a class="pagination__link link" href="?page={{ i }}{% if tags %}&tags={{ tags }}{% endif %}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="pagination__item"><a class="pagination__link link" href="?page={{ page_obj.next_page_number }}{% if tags %}&tags={{ tags }}{% endif %}"><span
                class="icon-right"></span></a></li>
        {% endif %}

    </ul>
</nav>
{% endif %}
{% endblock %}
{% block js %}
<script src="{% static 'js/components/MainCards.js' %}"></script>

<script src="{% static 'js/components/Purchpurachases.js' %}"></script>

<script src="{% static 'js/components/CardList.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>

<script src="{% static 'js/api/Api.js' %}"></script>
{% if user.is_authenticated %}
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/indexAuth.js' %}"></script>
{% else %}
<script src="{% static 'js/indexNotAuth.js' %}"></script>
{% endif %}
{% endblock %}